/* Wildcard Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style Rules */
body {
    background-color: #6256CA;
    color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header Style Rules */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo Style Rules */
.quizzle-logo img {
    width: 7rem;
    height: 7rem;
    margin: 0.2rem 0 0;
}

/* Hides the text in the Quizzle Logo Link */
.quizzle-logo a {
    color: transparent;
}

/* Main Content Rules */
.main-heading {
    text-align: center;
}

.main-heading h1 {
    font-size: 3rem;
    font-family: 'Boogaloo', sans-serif;
}

/* Generic class for all hidden elements for javascript interactivity */
.hidden-element {
    display: none;
}

/* Flex container for text content */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 90%;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 3rem;
    text-align: center;
    min-height: 8rem;
    margin: 0.5rem 3rem 2rem;
}

.text-container label {
    color: #000000;
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    margin: 1rem;
}

.text-container input {
    align-self: center;
    max-width: 10rem;
    min-height: 2rem;
    border: 3px solid #000000;
    font-family: 'Gowun-Dodum', sans-serif;
    font-size: x-large;
    text-align: center;
}

/* General styling for text content */
.article-content {
    color: #000000;
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    margin: 1rem;
}

/* Specific styling for error messages within the text-container */
.error-message {
    align-self: center;
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

/* Styling for the question number display */
.question-number {
    color: #000000;
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.2rem 1rem;
}

/* Wrapper for power-up container display */
.powerup-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.powerup-box {
    border: 3px solid #6256CA;
    border-radius: 25px;
    margin: 1rem;
    padding: 1rem;
}

.powerup-box i {
    color: #6256CA;
    place-content: center;
    font-size: 4rem;
    margin: 0 0 1rem;
}

.powerup-label {
    color: #000000;
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Generic flex container with wrap for use in displaying power-ups in the quiz */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem 4rem;
}

.start-quiz-button, .quiz-button {
    flex: 1 0 45%;
    min-height: 8rem;
    width: 5rem;
    border: 3px solid #000000;
    border-radius: 25px;
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    font-size: larger;
    margin: 0 0 0.5rem;
}

.quiz-button p, .start-quiz-button p {
    padding: 0 1rem;
}

.quiz-button:hover, .start-quiz-button:hover {
    background-color: #fae633;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#start-quiz-button {
    max-width: 10rem;
    min-height: 3rem;
}

/* Styling for the modal that shows when mouse focus leaves the document */

dialog {
    background-color: #ffffff;
    outline: none;
    border-radius: 25px;
    border: 3px solid #000000;
    align-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    z-index: 99;
    position: fixed;
}

dialog h2 {
    font-family: 'Boogaloo', sans-serif;
    text-align: center;
}

dialog p {
    font-family: 'Gowun-Dodum', sans-serif;
    text-align: center;
}

dialog::backdrop{
    background-color: #6256cab4;
}

/* Styling for the clickable powerup buttons */

.powerup-button {
    flex: 1 0 49%;
    display: grid;
    place-items: center;
    min-height: 8rem;
    min-width: 5rem;
    max-width: 10rem;
    border: 3px solid #000000;
    border-radius: 25px;
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    font-size: larger;
    margin: 0;
}

.powerup-button i {
    color: #6256CA;
    place-content: center;
    font-size: 4rem;
    margin: 0 0 1rem;
}

.powerup-label-quiz {
    color: #000000;
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    text-align: center;
}

.powerup-button:hover {
    background-color: #fae633;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

/* Styles to hide answers hidden by powerup and prevent interactivity */
.hidden-answer{
    background-color: transparent;
    color: transparent;
    border: none
}

.hidden-answer:hover {
    background-color: transparent;
    cursor: auto;
}

/* Timer styles */
.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 75%;
    min-height: 8rem;
    max-width: 15rem;
    background-color: #FFFFFF;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 25px;
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    font-size: larger;
    margin: 0.2rem;
}

.timer span {
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 0 1rem;
}

/* Style for the score number on results page */

.score-number {
    color: #000000;
    font-family: 'Gowun-Dodum', sans-serif;
    font-weight: bold;
    margin: 1rem;
    font-size: 5rem;
}

/* Media Query and Styles for Tablet Users */
@media screen and (min-width: 768px) {
    .timer {
        min-width: 24rem;
    }
}

/* Media Query and Styles for Laptop/Desktop Users */
@media screen and (min-width: 1024px) {
    .powerup-box {
        margin: 1rem 2rem;
    }

    .powerup-label {
        max-width: 200px;
    }

    .flex-container{
        margin: 2rem 15rem;
    }

    .timer {
        min-width: 30em;
    }

    /* Disables the powerup label in favour of the tooltype styles below */

    .powerup-label-quiz {
        display: none;
    }
    
    /* Styles to create tooltips on larger screens where a cursor can hover on the box */

    .powerup-button::before {
        position: absolute;
        transform: translateY(-50px) rotate(25deg);
        opacity: 0;
        content:attr(data-powerup);
        background-color: #000000e8;
        color: #ffffff;
        padding: 0.5rem 1rem;
        border-radius: 25px;
        font-family: 'Gowun-Dodum', sans-serif;
        font-size: small;
        transition: 0.2s ease;
    }
    
    .powerup-button:hover::before {
        transform: translateY(-81px) rotate(0);
        opacity: 1;
    }
    
    .powerup-button::after {
        opacity: 0;
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid #000000e8;
        transform: translateY(-51px) rotate(25deg);
        transition: 0.2s ease;
    }
    
    .powerup-button:hover::after {
        transform: translateY(-61px) rotate(0);
        opacity: 1;
    }
    
}